/*
    Pour mettre les borders :
    border: 2px solid #ff0000;
    border-radius: 1%;
*/

@import url('https://fonts.googleapis.com/css2?family=YourFontName&display=swap');

body {
    background-image: url('../../assets/background/background_flou.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbar button:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.title_container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.container {
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    gap: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards_container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 50px;
    justify-content: flex-start;
    padding: 15px;
}

.card {
    background-color: #1c1f2e;
    border-radius: 15px;
    padding: 15px;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.id {
    font-size: 0.8em;
    color: #ccc;
}

.name {
    font-weight: bold;
}

.image {
    background-image: url('../../assets/npc/skull.png');
    background-size: cover;
    background-position: center;
    height: 120px;
    border-radius: 10px;
}

.attributes {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.attribute {
    font-size: 1.2em;
    padding: 5px;
}

.attribute_data {
    font-size: 1.2em;
    padding: 5px;
}

.attribute-icon {
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajuster la taille des colonnes pour s'adapter à l'écran plus petit */
        padding-left: 15px; /* Réduire l'espacement sur les côtés */
        padding-right: 15px;
    }
    
    .cards_container {
        flex-wrap: wrap;
        overflow-x: hidden;
        justify-content: center;
    }
    
    .card {
        width: 90%;
        margin-bottom: 20px;
    }
}
