/*
    Pour mettre les borders :
    border: 2px solid #ff0000;
    border-radius: 1%;
*/

@import url('https://fonts.googleapis.com/css2?family=YourFontName&display=swap');

body {
    background-image: url('../../assets/background/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbar button:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.map-wrapper {
    position: relative;
    width: 800px; /* ou autre selon vos besoins */
    height: 600px; /* ou autre selon vos besoins */
    overflow: hidden; /* pour cacher les parties de la carte qui dépassent */
    border: 2px solid #000; /* Ajoute une bordure noire pour le cadre */
    margin: auto;
    margin-top: 7%;
}

.map-container {
    position: absolute;
    width: 800px;
    height: 600px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: grab;
}

.map-image {
    position: absolute;
    width: 50%;
    height: 50%;
}

#image1 { top: 0; left: 0; }
#image2 { top: 0; right: 0; }
#image3 { bottom: 0; left: 0; }
#image4 { bottom: 0; right: 0; }